@import "bootstrap";

body {
	background-color:#f5f5f1;
	color:#333333;
	font-family: arial, helvetica, sans-serif;
}

.navbar-default{
	background-color: #efefeb
}

.navbar-default .navbar-brand{
	font-family: guardian-egypt, georgia, serif;
	font-weight: 400;
	color:#d5641c;
	font-size: 30px;
}

.navbar-defaul .navbar-nav >li > a {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0192B5
}

.center {
	text-align: center;
}

.colo-md-3:nth-child(4n+1) {
	clear: left;
}
.col-ed-6{
	h3{font-size:45px;}
	h5{font-size: 25px;}
	p{font-size: 18px;}
}

.caption{
	h3 {
		fontsize: 17px;
		margin: 2px;
	}
	
	p {
		font-size: 15px;
		margin: 0px;
	}
}

